<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vraveeo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66631CCB1D0714D0007DDEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66631CE21D0714D1007DDEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66631CED1D0714D1007DDEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
